.main {
  display: flex;
  background: #fff;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
}

.displayWindow {
  width: 100vw;
  height: 100vh;
  border: 0;
}

.iframe {
  display: none;
}
